@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNe.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/fonts/HelveticaNeueMedium.ttf') format('truetype');
}
